<!DOCTYPE html>
<html lang="ko">
  <%- include('partials/head')%>
<body>
  <%- include('partials/header-nav')%>
  <%- include('partials/stack-window')%>
  <main class="main-container">
    <section class="sticky">
      <%- include('partials/project-carousel')%>
      <article class="article article-1">
        <div class="title"> 넣을거 1</div>
        <div class="content">
          <div class="city weather">
            <div class="citycontainer"></div>
          </div>
        </div>
      </article>
      <article class="article article-2">
        <div class="title"> 넣을거 2</div>
        <div class="content">
        </div>
      </article>
      <article class="article article-3">
        <div class="title"> 헉...?</div>
        <div class="content">
        </div>
      </article>
      <article class="article article-4">
        <div class="title"> 넣을거 4</div>
        <div class="content">
        </div>
      </article>
    </section>
  </main>
  <%- include('partials/footer')%>
</body>
  <%- include('partials/tail')%>
</html>
